body {
    background-image: url("floor-tile.png");
    max-width: 800px;
    margin: 24px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

main {
    background-color: whitesmoke;
    margin: 40px 0 20px;
}

.headshot {
    float: left;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding top: 20px;
    background-color: whitesmoke;
}

h1 {
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 0px;
    background-color: whitesmoke;
    font-size: large;
}

header > nav {
    float: right;
}

header {
    margin: 40px 0 20px;
    font-size: large;
    background-color: lightpink;
    padding: 20px
}

p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

article {
    float: left;
    max-width: 600px;
}

main::after {
    content: "";
    clear: both;
    display: block;
}

main aside a {
    display: block;
    float: right;
}

main > aside {
    float: right;
}

h2 {
    font-size: large;
}

aside {
    border-style:groove;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    margin: 40px 0 20px;
    background-color: lightpink;
    padding: 20px;
}